<f:layout name="Default"/>

<f:section name="form">
	<f:render partial="Form" arguments="{bibtexSettings: bibtexSettings}"/>
</f:section>

<f:section name="debug">
    <f:if condition="{debug}">
        <f:debug title="bibtexSettings">{bibtexSettings}</f:debug>
        Link: {link}<br/>
        Key: {key}<br/>
        Sort: {sort}<br/>
        Apply: {apply}<br/>
        Deny.: {deny}<br/>
    </f:if>
</f:section>

<f:section name="content">
	<f:if condition="{errorMessage}">
		{errorMessage}
	</f:if>
    <f:render partial="Entries/Uniol" arguments="{entries: entries, bibtexSettings: bibtexSettings}"/>
</f:section>
