<f:spaceless>
	<f:comment>
		*********************************
		mit workaround f. type='arcicle' ohne Jahreszahl, wird hier hintergeschrieben, wie bei proceedings
		*********************************
	</f:comment>
	<div class="uniol_bibtex">
		<f:if condition="{bibtexSettings.showNumbers}">
			<f:then>
				<ol class="geweitet">
			</f:then>

			<f:else>
				<ul class="geweitet">
			</f:else>
		</f:if>

			<!-- START BLOCK : bibtex_entry -->
			<f:for each="{entries}" as="entry" iteration="iterator">
				<li>
					<div class="klein u-dotted">
						<f:if condition="{bibtexSettings.showPubtype}">[{entry.type}]</f:if> <f:format.raw><a href="javascript:return false;" class="bibtextoggle">bibtex</a>{entry.pdf}</f:format.raw>
					</div>
					<div>
						<f:format.raw>{entry.entry}</f:format.raw>
						<f:if condition="({entry.type} == 'article' || {entry.type} == 'incollection') && {entry.year} && {bibtexSettings.showYear}"> {entry.year}.</f:if>
						<f:if condition="{entry.doiUrl} && {entry.doi}">
							<br/>
							doi: <a href="{entry.doiUrl}" target="_blank">{entry.doi}</a>
						</f:if>
					</div>
					<div class="bibtex bibtex-code" style="display: none;">
						<code><f:format.raw>{entry.bibtex}</f:format.raw></code>
                        <button class="uniol_bibtex_copy">
							<span class="uniol_bibtex_copy_text">
								<f:translate key="copyToClipboard" extensionName="bibtex">Kopieren</f:translate>
							</span>
							<f:comment>
								<span class="uniol_bibtex_copied_text" style="display:none">
									<f:translate key="copyToClipboard" extensionName="bibtex">Kopieren</f:translate>
								</span>
							</f:comment>
						</button>
					</div>
				</li>
			</f:for>
			<!-- END BLOCK : bibtex_entry -->
		<f:if condition="{bibtexSettings.showNumbers}">
			<f:then>
				</ol>
			</f:then>

			<f:else>
				</ul>
			</f:else>
		</f:if>

	</div>
</f:spaceless>
